{% extends 'common_page.html' %}

{% block title %} home {%endblock%}
  <!-- ***** Main Banner Area End ***** -->
  {% block body_content %}
  {% load static %}
  <div class="visit-country">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <h2>Visit One Of Our Countries Now</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="items">
            <div class="row">
              {% if investment %}
              {% for invest in investment %}
                <div class="col-lg-12">
                  <div class="item">
                    <div class="row">
                      <div class="col-lg-4 col-sm-5">
                      {% if invest.product_picture %}
              
                        <div class="image">
                          <img src="{{ invest.product_picture.url }}" alt="">
                        </div>
                        {% endif%}

                      </div>
                      <div class="col-lg-8 col-sm-7">
                        <div class="right-content">
                          <h4>{{invest.investment_name}}</h4>
                          <span>{{invest.category}}</span>
                          <div class="main-button">
                            <a href="{% url 'investment_detail' invest.invest_id %}">Explore More</a>
                          </div>
                          <p>{{invest.description}}</p>
                          <ul class="info">
                            <li><i class="fa fa-user"></i>Total unit available: {{invest.total_unit}}</li>
                            <li><i class="fa fa-globe"></i>Unit price: ${{invest.price_per_unit}}</li>
                            <li><i class="fa fa-home"></i>{% if investment.total_unit <= 5 %} out of stock {% endif%}</li>
                          </ul>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
            {% endif%}  
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->

  {% endblock %} 